# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# gedit temp files
*.*~

#Binaries
libECwrapper/examples/example
libECwrapper/examples/fileDecoder
libECwrapper/examples/fileEncoder
